.center_divP{
    padding-top: 4em;
    width: 80%;
    
}

.imgs {
    object-fit: scale-down;
    width: 17rem;
    height: 17rem;
  }

.addButton{
margin-top: 4em;
margin-right: 10em;
}


.centerForm{
    margin: 0 auto;
    width:40%;
    padding-top: 5em;
}


.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-left: 40px;
    padding-top: 10px;

}